<% include partials/header %>

<div class="container">
  <div class="jumbotron" style="margin-top: 100px; background: #faf2e5; background-color: rgba(255, 255, 255, 0.7);">
    <h1 class="display-4">My bookshelf</h1>
    <p class="lead">This is a web application that record your review and impressions after reading books. </p>
    <hr class="my-4">
    <p>You can easily create and delete your own reviews and look aroud other's reviews.</p>
    <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
  </div>
</div>


<% include partials/footer %>
